.Header {
  background-image: url("computer.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
}

.NavBar {
  /* width: 100%; */
  height: 50px;
  padding: 0;
  margin:0;
  /* background-attachment: fixed; */
  top: 0;
}
.navbar {
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,.8);
  background-attachment: fixed;
  height: 50px;
}
#NavList {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: white;
}

/* h2 {
  font-size: 30px;
  font-style: initial;
  color: white;
  margin: 0;
  padding: 0;
} */

.M {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 0;
  width: 35px;
  transition: 2s;
}

.M:hover {
  transform: rotateY(150deg);
  color: #F0DB5B;
}


.name {
  font-size: 30px;
  margin-left: 0;
  padding-left: 0;
  transition: 2s;
  display: none;
}

.nameHover {
  color: white;
  font-size: 30px;
  margin-left: 0;
  padding-left: 0;
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}


.About {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.bio {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 0;
}

#headshot {
  height: 50vh;
  width: auto;
  margin-left: 100px;
}

.headshot {
  display: flex;
  align-content: center;
}


#home {
  transition: .6s;
}

#about {
  transition: .6s;
}

#portfolio {
  transition: .6s;
}

#resume {
  transition: .6s;
}

#home:hover {
  color: #F0DB5B;
}

#about:hover {
  color: #F0DB5B;
}

#portfolio:hover {
  color: #F0DB5B;
}

#resume:hover {
  color: #F0DB5B;
}

.Logo {
  display: flex;
  justify-content: start;

}

